<h1>Hi</h1>

here's some react!<br>
a hello!
<%= react_component('helloWorld') %>
a first level

a broken next-level
<%= react_component('CommentBox', :data => [
  {author: "Data McDatason", text: "This is one comment"},
  {author: "Mike Roache", text: "This is *another* comment"}
]) %>
the end

