<h1>Hi</h1>

here's some react!<br>
a hello!
<%= react_component('helloWorld') %>
a first level

a broken next-level
<%= react_component('CommentBox', [
      {:author => 'Coolman', :text => "I like it cool, man."},
      {:author => 'Coolman', :text => "I like it cool, man."}
                                  ]
                    ) %>
the end

